# Git 관리 데이터
.git
.gitignore
.dockerignore

# 가상환경 (필수 제외)
venv/
env/
.venv/

# 파이썬 캐시
__pycache__
*.pyc
*.pyo
*.pyd

# 환경 설정 및 비밀 키 (절대 포함 금지)
.env
*.log
*.json
service_account.json
client_secrets.json
secret.py

# 로컬 데이터 (DB 사용하므로 제외)
*.csv
*.xlsx
data/

# IDE 설정 파일
.vscode/
.idea/